*{margin: 0;padding: 0;}
.container{
    margin: 40px auto;
    width: 60%;
    border: 2px solid green;
    text-transform: capitalize;

}
h1{
    background: green;
    color: aliceblue;
    padding: 10px;

}
form{
    padding: 20px;

}
.txt{
    width: 100%;
    padding: 7px;
    margin-top: 10px;
}
.btn{
    width: 40%;
    
    padding: 7px; ;
    margin-top: 10px;
    background: green;
    color: aliceblue;
    border: none;
    
}
